.contact{
    padding: 6px;
    border:2px solid green;
    color: blue;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    
}


.edit{
    padding:5px;
    font-size: medium;
    background-color: rgb(61, 196, 203);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border-style: none;

}

.delete{
    padding:5px;
    font-size: medium;
    background-color: rgb(221, 67, 28);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border-style: none;

}

form button{
    padding:5px;
    font-size: medium;
    background-color: rgb(45, 105, 194);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    border-style: none;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 15px;             
}

form input {
    width: 50%;
    height: 45px;
    padding: 8px;
    margin-bottom: 5px;
    outline: none;
}

.phone {
    text-align: center;
    margin-bottom: 20px;
}

.phone h1 {
    font-size: 32px;
    margin-bottom: 5px;
}
